/*
    GLOBAL VARIABLES
    ----------------
*/

:root {
    --primary-color: #FFD700;
    --primary-color-alpha: rgba(255, 215, 0, 0.2);
    --secondary-color: #DCDCDC;
    --third-color: #000000;
    --transparent:  rgba(255, 255, 255, 0)
}

/*
    FONTS
    -----
*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/*
    Harry Potter Font Style
*/
@font-face {
    font-family: 'HarryPotter';
    font-style: normal;
    font-weight: normal;
    src: local('Harry P Regular'), url('../fonts/HARRYP__.woff') format('woff');
}


/*
    CSS RESET
    ---------
*/
* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: HarryPotter, serif;
    margin: 0;
	padding: 0;
    border: 0;
    color: var(--secondary-color);
    background-color: var(--third-color);
}

@media (min-width: 769px) {
    main article {
        width: 80%;
        margin: 0 auto;
    }
}

/*
    HEADERS
    -------
*/
h1 {
    text-align: center;
}

h1 a {
    font-size: 12rem;
    color: var(--primary-color);
    text-decoration: none;
}

h2 {
    color: var(--primary-color);
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

h3 {
    color: var(--secondary-color);
    border-bottom: 0.2rem solid var(--primary-color);
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/*
    LINKS
    -----
*/
.primary-links {
    font-size: 3rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.primary-links:link,
.primary-links:visited,
.primary-links:focus {
    color: var(--secondary-color);
    text-decoration: none;
}

.primary-links:hover,
.primary-links:active {
    color: var(--primary-color);
    text-decoration: none;
}

.secondary-links {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5rem;
}

.secondary-links:link,
.secondary-links:visited,
.secondary-links:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.secondary-links:hover,
.secondary-links:active {
    color: var(--secondary-color);
}

/*
    NAV BAR
    -------
*/
nav#banner-nav {
    width: 100%;
    border-bottom: 0.3rem solid var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

nav#banner-nav ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav#banner-nav ul li {
    text-align: center;
    margin: 0.5rem 0;
    width: 55%;
}

.current-page {
    border-left: 0.1rem solid var(--primary-color);
    border-right: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;
}

#banner-nav li.current-page a {
    color: var(--primary-color);
}

@media (min-width: 769px) {
    nav#banner-nav ul {
        flex-flow: row;
        width: 40%;
    }
}


/*
    INDEX
    -----
*/
article#category-selectors,
article#author {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

article#category-selectors section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.section-text {
    width: 35rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 1.5rem;
}

blockquote {
    font-size: 3rem;
    background-color: var(--primary-color-alpha);
    border-top: 0.1rem solid var(--secondary-color);
    border-bottom: 0.1rem solid var(--secondary-color);
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1rem;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}


@media (min-width: 769px) {
    article#category-selectors {
        flex-flow: row wrap;
    }

    article#author {
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 2rem;
    }

    article#author figure {
        flex: 1;
        margin: 2rem 0;
    }

    article#category-selectors h2,
    article#author h2 {
        min-width: 100%;
    }

    article#category-selectors section {
        flex: 1;
        min-width: 10rem;
        height: 85rem;
        justify-content: start;
    }

    .section-text {
        text-align: left;
    }

    #author .section-text:nth-child(3) {
        flex: 2;
        padding: 0 5rem;
    }

    #author .section-text:nth-last-child(2),
    #author blockquote  {
        flex: 2 100%;
        padding: 0 5rem;
    }

    #author blockquote {
        text-align: center;
    }
}


/*
    CARDS SELECTORS
    ---------------
*/

.card-selector {
    border: 0.3rem solid var(--secondary-color);
    border-radius: 1rem;
    width: 25rem;
    max-height: 50rem;
    margin: 2rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
    text-decoration: none;
}

.card-selector:hover {
    transform: scale(1.1);
    border: 0.3rem solid var(--primary-color);
    background-color: var(--primary-color-alpha);
}


/* Cover image */
figure {
    text-align: center;
    background-color: var(--transparent);
}

.cover-img {
    border: 0.1rem solid var(--secondary-color);
    border-radius: 1rem;
    width: 90%;
    height: 35rem;
}

.book-info .cover-img {
    width: 65%;
}

/* Category Name */
.card-selector p {
    text-align: center;
    display: inline-block;
    font-size: 3.5rem;
    width: 85%;
    margin: 1rem 0 0 0;
    background-color: var(--transparent);
}

@media (min-width: 769px) {
    .card-selector {
        width: 25rem;
        height: 50rem;
        margin: 2.5rem 0;
        padding: 1rem 0;
    }

    #author .cover-img {
        width: 25rem;
        height: 35rem;
    }
}

/*
    HARRY POTTER
    ------------
*/
ul#saga-harry-potter,
ul#otros-libros {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

@media (min-width: 769px) {
    ul#saga-harry-potter,
    ul#otros-libros {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    ul#saga-harry-potter li,
    ul#otros-libros li{
        flex: 1 30%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* 
    BOOK DETAIL PAGES
    -----------------
*/
dl {
    margin-left: 2rem;
}

dt {
    color: var(--primary-color);
    font-size: 3rem;
    margin-top: 1.5rem;
}

dd {
    color: var(--secondary-color);
    font-size: 3rem;
}

article.book-info {
    display: flex;
    flex-flow: column;
}

article.book-info p {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
}

iframe {
    width: 100%;
    height: 15rem;
    margin: 1.5rem 0;
}

/*
    Te puede interesar
*/
ul.similar-pages {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

ul.similar-pages li {
    margin: 1rem 0;
}

@media (min-width: 769px) {

    article.book-info {
        flex-flow: row wrap;
        justify-content: space-around;
        width: 90%;
    }

    article.book-info h2 {
        flex: 1;
        min-width: 100%;
    }

    /* COVER AND INFO */
    article.book-info section:nth-child(2){
        display: grid;
        width: 45%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10rem 1fr;
        grid-gap: 0.5rem;
    }

    article.book-info section :nth-child(1){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    article.book-info section :nth-child(1) img{
        width: 100%;
        height: auto;
    }

    article.book-info section :nth-child(2){
        grid-column: 1 / 4;
        grid-row: 1 ;
    }

    article.book-info section :nth-child(3){
        grid-column: 3;
        grid-row: 2 / 3;
    }

    /* SINOPSIS */
    article.book-info section:nth-child(3){
        width: 50%;
    }

    /* VIDEO */
    article.book-info section:nth-child(4){
        width: 50%;
    }

    iframe {
        width: 100%;
        height: 30rem;
    }
}